<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>APL387 Unicode</string>
    <key>styleName</key>
    <string>Book</string>
    <key>styleMapFamilyName</key>
    <string>APL387 Unicode Regular</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>copyright</key>
    <string>Public Domain</string>
    <key>trademark</key>
    <string>none</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>capHeight</key>
    <integer>650</integer>
    <key>xHeight</key>
    <integer>473</integer>
    <key>ascender</key>
    <integer>800</integer>
    <key>descender</key>
    <integer>-200</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>openTypeHeadCreated</key>
    <string>2026/09/09 15:32:58</string>
    <key>openTypeHheaAscender</key>
    <integer>910</integer>
    <key>openTypeHheaDescender</key>
    <integer>-231</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Adám Brudzewsky</string>
    <key>openTypeNameVersion</key>
    <string>openTypeNameUniqueID</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>APL387 Unicode</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>11</integer>
      <integer>7</integer>
      <integer>9</integer>
      <integer>0</integer>
      <integer>2</integer>
      <integer>2</integer>
      <integer>0</integer>
      <integer>2</integer>
      <integer>3</integer>
    </array>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2VendorID</key>
    <string>acds</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>910</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-235</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>910</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>231</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>600</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>75</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>600</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>350</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>259</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>6</integer>
      <integer>7</integer>
      <integer>9</integer>
      <integer>31</integer>
      <integer>32</integer>
      <integer>37</integer>
      <integer>38</integer>
      <integer>39</integer>
      <integer>42</integer>
      <integer>43</integer>
      <integer>44</integer>
      <integer>46</integer>
    </array>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>postscriptFontName</key>
    <string>APL387</string>
    <key>postscriptFullName</key>
    <string>APL387 Unicode</string>
    <key>postscriptWeightName</key>
    <string>Book</string>
    <key>postscriptUnderlineThickness</key>
    <integer>84</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-150</integer>
    <key>postscriptIsFixedPitch</key>
    <false/>
  </dict>
</plist>
